
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

.table-operations {
  margin-top: 16px;
  margin-bottom: 16px;
}

.table-operations > button {
  margin-right: 8px;
}

.ant-tabs-bar {
  margin-bottom: 0px;
}

.ant-advanced-search-form {
  padding: 8px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}

.search-body {
  padding-top: 8px;
}

.search-footer {
  text-align: right;
  margin-top: -16px;
}

/*卡片无查询*/
.card-btn {
  margin-top: 70px;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 320px;
  line-height: 320px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.clickRowStyl {
  background-color: #b9e0f3 !important;
}

.conUploadFileModal .ant-modal-body {
  padding: 0px !important;
}

.child-table {
  border: 1px solid #e5e6e9;
  -webkit-box-shadow: 0 2px 6px hsla(0, 0%, 78%, .4);
  box-shadow: 0 2px 6px hsla(0, 0%, 78%, .4);
}

.card-tree {
  border: 1px solid #e5e5e5;
  margin-bottom: 5px;
  padding: 0 20px;
  -webkit-box-shadow: 4px 4px 40px rgba(0, 0, 0, .05);
  box-shadow: 4px 4px 40px rgba(0, 0, 0, .05);
}

.ant-modal-body .ant-form{
  margin-bottom: -24px;
}

/*.ant-modal-body {*/
/*padding-bottom: 0px !important;*/
/*}*/
